body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
}
#u49_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u49_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u51 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
  background:inherit;
  background-color:rgba(198, 198, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
}
#u53 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u54 {
  position:absolute;
  left:602px;
  top:20px;
  width:150px;
  height:30px;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u55 {
  position:absolute;
  left:0px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u56 {
  position:absolute;
  left:50px;
  top:30px;
  width:200px;
  height:40px;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u57 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u58 {
  position:absolute;
  left:637px;
  top:60px;
  width:80px;
  height:23px;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:230px;
  top:315px;
  width:459px;
  height:185px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u63 {
  position:absolute;
  left:76px;
  top:0px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u65 {
  position:absolute;
  left:152px;
  top:0px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u67 {
  position:absolute;
  left:228px;
  top:0px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u68 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u69 {
  position:absolute;
  left:304px;
  top:0px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u71 {
  position:absolute;
  left:380px;
  top:0px;
  width:74px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u72 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u73 {
  position:absolute;
  left:0px;
  top:30px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u75 {
  position:absolute;
  left:76px;
  top:30px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u77 {
  position:absolute;
  left:152px;
  top:30px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u79 {
  position:absolute;
  left:228px;
  top:30px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u81 {
  position:absolute;
  left:304px;
  top:30px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u83 {
  position:absolute;
  left:380px;
  top:30px;
  width:74px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u85 {
  position:absolute;
  left:0px;
  top:60px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u87 {
  position:absolute;
  left:76px;
  top:60px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u89 {
  position:absolute;
  left:152px;
  top:60px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u90 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u91 {
  position:absolute;
  left:228px;
  top:60px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u93 {
  position:absolute;
  left:304px;
  top:60px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u95 {
  position:absolute;
  left:380px;
  top:60px;
  width:74px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u97 {
  position:absolute;
  left:0px;
  top:90px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u99 {
  position:absolute;
  left:76px;
  top:90px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u101 {
  position:absolute;
  left:152px;
  top:90px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u102 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u103 {
  position:absolute;
  left:228px;
  top:90px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u105 {
  position:absolute;
  left:304px;
  top:90px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u107 {
  position:absolute;
  left:380px;
  top:90px;
  width:74px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u109 {
  position:absolute;
  left:0px;
  top:120px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u111 {
  position:absolute;
  left:76px;
  top:120px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u112 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u113 {
  position:absolute;
  left:152px;
  top:120px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u114 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u115 {
  position:absolute;
  left:228px;
  top:120px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u117 {
  position:absolute;
  left:304px;
  top:120px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u118 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u119 {
  position:absolute;
  left:380px;
  top:120px;
  width:74px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u121 {
  position:absolute;
  left:0px;
  top:150px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u123 {
  position:absolute;
  left:76px;
  top:150px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u125 {
  position:absolute;
  left:152px;
  top:150px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u127 {
  position:absolute;
  left:228px;
  top:150px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u129 {
  position:absolute;
  left:304px;
  top:150px;
  width:76px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u131 {
  position:absolute;
  left:380px;
  top:150px;
  width:74px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:30px;
  background:inherit;
  background-color:rgba(125, 168, 255, 0.647058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u133 {
  position:absolute;
  left:230px;
  top:285px;
  width:454px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:450px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(198, 198, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u135 {
  position:absolute;
  left:200px;
  top:200px;
  width:130px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u136 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(198, 198, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u137 {
  position:absolute;
  left:200px;
  top:150px;
  width:130px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u138 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:0px;
  top:200px;
  width:115px;
  height:120px;
}
#u139_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:121px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:125px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u141_img.mouseOver {
}
#u141.mouseOver {
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u143 {
  position:absolute;
  left:0px;
  top:40px;
  width:115px;
  height:40px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u143_img.mouseOver {
}
#u143.mouseOver {
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u145 {
  position:absolute;
  left:0px;
  top:80px;
  width:115px;
  height:40px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u145_img.mouseOver {
}
#u145.mouseOver {
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:115px;
  top:0px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u147_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u149_img.mouseOver {
}
#u149.mouseOver {
}
#u150 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u151 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u151_img.mouseOver {
}
#u151.mouseOver {
}
#u152 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u153 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u153_img.mouseOver {
}
#u153.mouseOver {
}
#u154 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:350px;
  top:150px;
  width:300px;
  height:25px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u156 {
  position:absolute;
  left:350px;
  top:200px;
  width:300px;
  height:25px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:90px;
  height:40px;
}
#u157 {
  position:absolute;
  left:660px;
  top:234px;
  width:80px;
  height:30px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u157_img.mouseOver {
}
#u157.mouseOver {
}
#u157_img.mouseDown {
}
#u157.mouseDown {
}
#u157_img.selected {
}
#u157.selected {
}
#u158 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
